body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #48f7c8;
    color: black;
}

.nav-items a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}
  
.app-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Post Input Section */
  .post-input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #usernameInput, #postInput, #imageInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  #postButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3897f0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  #postButton:hover {
    background-color: #327bc8;
  }
  
  /* Feed Section */
  .feed-section {
    margin-top: 20px;
  }
  
  .post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .post .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post .header .username {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .post .content {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .post img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .post .actions {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #777;
    cursor: pointer;
  }
  
  .post .actions span:hover {
    color: #3897f0;
  }