body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #48f7c8;
    color: black;
}

.nav-items a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.profile-header {
    width: 80%;
    background: none;
    padding: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}

.background {
    height: 100px;
    background: none;
}

.profile-details {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.details h1 {
    margin: 0;
}

.btn {
    background-color: #48f7c8;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d0d0d0;
}

.right-panel {
    width: 80%;
    margin-top: 20px;
    background: none;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0);
}

.ans {
    color: var(--green);
}